<main class="main">

  <div class="flex-container">
  <div>
    <h4>Select PDB</h4>
    <mat-form-field class="pdb-select" appearance="fill">
      <mat-label>Select PDB Data</mat-label>
      <mat-select [(ngModel)]="selectedPdbId" (selectionChange)="onPdbSelect($event)">
        <mat-option *ngFor="let pdb of pdbData" [value]="pdb.id">
          {{ pdb.compound || pdb.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="info-message"><h4>{{infoMessage}}</h4></div>
  </div>

  <div class="flex-container">
    <mat-card class="left-buttons">
      <button mat-button (click)="setRenderMode('sticks')">Sticks</button>
      <button mat-button (click)="setRenderMode('ball_and_stick')">Balls</button>
      <button mat-button (click)="setRenderMode('space_fill')">Blobs</button>
      <button mat-button (click)="setSelectionMode('identify')">Identify</button>
      <button mat-button (click)="setSelectionMode('distance')">Distance</button>
      <button mat-button (click)="setSelectionMode('rotation')">Rotation</button>
      <button mat-button (click)="setSelectionMode('torsion')">Torsion</button>
    </mat-card>
    <div class="molview-container">
      <molview [pdbData]="currentPdb" [renderMode]="renderMode" [selectionMode]="selectionMode"
               (infoUpdated)="onInfoChange($event)"></molview>
    </div>
    <div class="info-container">
      <mat-card class="info-card">
        <atomInfo [active]="selectionMode==='identify'" [atomId]="selectedAtomId" [pdbFile]="currentPdb?.data||''"></atomInfo>
      </mat-card>
    </div>
  </div>
</main>

<router-outlet/>
