<main class="main">
  <div class="flex-container">
    <mat-card class="left-buttons">
      <button mat-button (click)="setRenderMode('sticks')">Sticks</button>
      <button mat-button (click)="setRenderMode('ball_and_stick')">Balls</button>
      <button mat-button (click)="setRenderMode('space_fill')">Blobs</button>
      <button mat-button (click)="setSelectionMode('identify')">Identify</button>
      <button mat-button (click)="setSelectionMode('distance')">Distance</button>
      <button mat-button (click)="setSelectionMode('rotation')">Rotation</button>
      <button mat-button (click)="setSelectionMode('torsion')">Torsion</button>
    </mat-card>
    <div class="molview-container">
      <molview [pdbData]="pdbData.at(chosenIndex)" [renderMode]="renderMode" [selectionMode]="selectionMode"></molview>
    </div>
  </div>
  <div>
    <h1>All PDB Data</h1>
    <ul>
      <li *ngFor="let pdb of pdbData">
        {{pdb.name}}: {{pdb.compound}}
      </li>
    </ul>
  </div>
</main>

<router-outlet />
