.flex-container {
  display: flex;
}
.left-buttons {
    padding-left: 10px;
    padding-right: 10px;
}
.molview-container {
  width: 60%;
  aspect-ratio: 1 / 1;
  /* Flex item will grow and shrink to fill space */
  flex-grow: 2;
  flex-shrink: 1;
}
.info-container {
  width: 40%;
  /* Flex item will grow and shrink to fill space */
  flex-grow: 1;
  flex-shrink: 1;
}
.pdb-select {
  width: 300px;
}
