.flex-container {
  display: flex;
}
.molview-container {
  width: 600px;
  height: 600px;
 }
.left-buttons {
    padding-left: 10px;
    padding-right: 10px;
}
.flex-child:first-child {
    margin-right: 20px;
}
