.flex-container {
  display: flex;
}
.left-buttons {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}
.molview-container {
  width: 700px;
  height: 700px;
  padding-left: 25px;
  padding-right: 25px;
}
.info-container {
  width: 100%;
}
.pdb-select {
  width: 100%;
  max-width: 400px;
}
.info-message {
  padding-inline: 30px;
}
